/* html{
    font-family: Arial, Helvetica, sans-serif;
} */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.fullPage{
    display: flex;
    gap: 2vw;
}


/* nav */

nav{
    display: flex;
    flex-direction: column;
    background-color: #fbf7e3;
    padding: 20px;
    border-radius: 50px;
    gap: 20px;
    margin: 10px 0px;
    
}
.nav{
    border-radius: 50px;
    padding: 20px ;
    background-color: #f3df85;
    display: flex;
    align-items: center;

    font-size: 0.8rem;
    color: #64270f;
    border: none;
    /* text-align: center; */
    order:2;
}


/* perche vengono cosi alti? line-height */

.navShop{
    display: flex;
    justify-content: space-around;
    gap:10%;
    font-weight: 700;
    font-size: 1rem;
    order:1;
}

.navShop img{
    max-width: 50px;
    
}


/* main */
h1,h2{
    color: #64270f;
    font-weight: 900;
}

/* card */
.prodotti{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.card{
    width: 16vw;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fbf7e3;
}

.divImmagine {
    display: flex;
    justify-content: center;
}

.card img{
    object-fit: cover;
    max-height: 200px;
}

.testo{
    display: flex;
    color: #64270f;
    padding: 10px;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.descrizione{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descrizione h4{
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.descrizione p {
    font-size: 0.8rem;
    margin: 0;
}

.prezzo{
    font-size: 1rem;
}

.divBottone{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.bottone{
    border-radius: 50px;
    font-size: 1rem;
    padding: 10px 50px;
    background-color: #f3df85;
    border: none;
}




/* article */

article{
    background-color: #fbf7e3;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

article img{
    flex: 1;
    width: 100%;
    object-fit: cover;
    }

.testoArticolo {
    flex: 1;
}
article h3{
    font-size: 1rem;
    font-weight: 900;
    color: #64270f;
}

article p{
    color: #64270f;
}



/* responsive */
@media screen and (max-width: 567px){
    article {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
    }
}


