/* Your styles here */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


.bgBlue{
    background-color: #222f3f;
}


header img {
    width: 100px;
    padding: 10px;
    padding-left: 20px;
}

.bgGray{
    background-color: #354656;
}

nav {
    margin-top: -16px;
}

nav ul {
    padding-left: 20px;
}

nav li{
    display: inline-block; 
    padding: 4px;
    list-style: none;
    color: white;

}


/* regole generali per classi */
.centrati{
    text-align: center;
}
.testoBianco{
    color: white;
}

#arancio{
    background-color: #f56600;
    margin: 25px 0px;
}

#arancio p {
    padding: 5px
}

#guides{
    background-image: url(/settimana2/Giorno5_progettoSettimanale/AmazonPage/assets/images/bg-image.png);
}


/* footer */

footer img {
    width: 150px;
    padding: 50px;
}



