#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* mio css */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
}

h1{
  font-size: 2rem;
}

body{
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  background: url('./assets/67fc6fd78962a7ec818b71bb9047-1635220.jpeg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  place-items: center;
}

.bold{
  font-weight: 800;
}

.big{
  font-size: 4rem;
}

.cardsBackground{
  background-color: rgb(19, 19, 103);
  opacity: 0.7;
  min-width: 10rem;
  max-width: 20rem;
}

.cardsForecast{
  min-width: 20rem;
}

/* mediaquery */

.rem08{
  font-size: 0.8rem;
}

.rem2{
  font-size: 2rem;
}

.center{
  margin: 0 auto !important
}

.responsiveGraphWrap{
  width: 100%;
  height: 400px; /* Altezza predefinita per schermi di dimensioni maggiori */
  
  @media (max-width: 767px) {
    height: 300px; /* Altezza per schermi più piccoli (max-width: 767px) */
  }
}

.whiteText {
  color: white;
}