body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;

}

.padding{
    padding: 30px 60px;
    max-width: 85%;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-direction: column;
    position: relative;
}

header{
    position: sticky;
    top: 0;
    background-color: #ffc017 ;
    border-bottom: 1px solid black;
    height: 100px;
    z-index: 1;
}

.sfondoBianco{
    background-color: white;
    transition: background-color 0.5s ease; /* Aggiunge una transizione graduale */
}



.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav{
    width: 500px;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 0.9rem;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    flex: 1;
}

nav ul li{
    display: inline-block;
}


@media screen and (max-width: 728px) {
    .hide{
        display: none
    }

    nav ul{
        justify-content: flex-end;
    }
}

        /* nav ul li:not(:nth-last-child(2)):not(:last-child) {
      display: none; */

@media screen and (min-width: 320px) and (max-width:559px){
    .hide, .hideMobile{
        display: none
    }
    /* nav ul li:nth-last-child(2) {
        display: none; */
      }





nav button{
    color: white;
    background-color: black;
    border-radius: 30px;
    height: 40px;
    padding: 0 20px;
    border: none;

}

/* Aggiungi il tuo stile CSS qui */

.bottoneVerde {
    background-color: green;
    transition: background-color 0.5s ease; /* Aggiunge una transizione graduale */
  }

/*se lo commento sballa tutto*/
.bottoneNero {
    background-color: black;
    transition: background-color 0.5s ease; /* Aggiunge una transizione graduale */
  }
  
  

nav button:hover{
    cursor: pointer;
}



/* titolone giallo */


.titolo{
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

.containerTitolo{
    display: flex;
    align-items: center;
    gap: 200px;
}


.containerM{
    margin-right: -50px;
    z-index: 0;
}


h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 7rem;
    font-weight: 400;
}

.titolo h2{
    font-size: 1.5rem;
    font-weight: 400;
}

.titolo button{
    font-size: 1.2rem;
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px 40px;
    border: none;
}


.titolo button:hover{
    cursor: pointer;
    background-color: black;
}



.continerM{
    
}

/* trending */


.titoloTrending{
    display: flex;
    gap: 10px
}

.titoloTrending h3{
    font-size: 0.9rem;
}

.gruppoArticoli{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
}

.trendingArticolo{
    display: flex;
    flex: 1 1 33%;
    gap:20px;
    margin-bottom: 20px;
    min-width: 300px
}

.primaRiga{
    display: flex;
    align-items: center;
    gap: 8px
}

.numeroArticolo{
   color: gray; 
   font-weight: 700;
   font-size: 2rem;
   margin-top: -10px;
}



.autoreArticolo , .dataArticolo, .topicSezione{
    font-size: 0.8rem;
}

.titoloArticolo{
    font-size: 0.9rem;
    font-weight: 800;
}

.logoArticolo img{
    border-radius: 50%;
    height: 20px;
}




    /* nav ul li:nth-last-child(2) {
        display: none; */
      




hr{
    color: gray;
    margin: 50px;
    max-width: 100%;
}





/* corpo */
.corpo{
    display: flex;
    gap: 80px;
}

a{
    text-decoration: none;
    color: black;
}

.corpo .titoloArticolo{
    font-size: 1.2rem;
    font-weight: 800;
}

.sottotitoloArticolo{
    font-size: 1rem;
}

.quartaRiga{
    display: flex;
    justify-content: space-between;
}
.quartaRigaSx{
    display: flex;
    align-items: center;

}

.quartaRigaSx button{
    border-radius: 30px;
    padding: 5px 10px;
    background-color: rgb(219, 219, 219);
    border: none;
    margin: 4px;
}


.articoloGenerale{
    display: flex;
    gap:20px;
    margin-bottom: 40px;
}



.imgArticolo img{
max-width: 200px;}


/* aside */

aside {
    flex:50%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 110px;
    z-index: 3;
    height: 500px;
    background-color: white
}

aside h3{
    font-size: 1rem;
}

aside button{
    font-size: 0.9rem;
    border-radius: 30px;
    padding: 10px 20px;
    background-color: rgb(219, 219, 219);
    border: none;
    margin: 4px;
}

aside hr{
    width: 100%;
    margin: 20px 0;

}



.menuSecondario ul{
    font-size: 0.9rem;
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    gap:20px;

}

.menuSecondario li{
    display: inline;
    
}







/* tablet e mobile inverte ordine aside */
@media screen and (max-width:728px) {
    aside{
        order: 0; 
}
.corpo{
    flex-direction: column-reverse;
}
}




@media screen and (max-width:728px) {
    .trending{
        margin-bottom: 300px;
    }
}